{
	"env": {
		"browser": true,
		"es2021": true
	},
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parserOptions": {
		"ecmaFeatures": {
			"impliedStrict": true
		},
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"rules": {
		"semi": [
			2,
			"never"
		],
		"no-var": "error",
		"quotes": [
			"error",
			"single"
		],
		"object-curly-spacing": [
			"error",
			"always"
		],
		"array-bracket-spacing": [
			"error",
			"always"
		],
		"func-call-spacing": "error",
		"keyword-spacing": "error",
		"key-spacing": "error",
		"comma-spacing": "error",
		"sort-imports": [
			"error",
			{
				"ignoreCase": true,
				"ignoreMemberSort": true,
				"memberSyntaxSortOrder": [
					"none",
					"all",
					"multiple",
					"single"
				]
			}
		],
		"no-trailing-spaces": "error",
		"camelcase": "error",
		"indent": [
			2,
			2
		]
	}
}